body{
    font-family: 'Rubik', sans-serif;
    margin:0;
    padding:0;
}

#word-color-tomato{
    color:rgb(255, 103, 76);
}

h1{
    font-size: 50px;
}

.button-style{
    background-image: linear-gradient(rgb(255, 139, 72), rgb(255, 38, 0));
    border-style:none;
    height: 45px;
    width: 130px;
    border-radius: 50px;
    color:rgba(255, 255, 255, 0.945);
    box-shadow:0px 1px 10px rgba(255, 38, 0, 0.459);
    margin-top: 23px;
    margin-bottom: 17px;
}

#word-color-dark-silver{
    color:rgb(69, 79, 88);
}

#word-color-silver{
    color:silver;
}

section{
    display:flex;
}

.half{
    width:50%;
}

.half img{
    width:68%;
}

.section-1{
    margin-top:70px;
    margin-bottom:50px;
    margin-left: 50px;
    margin-right:50px;
}


#sec-2-bg{
    background-image: url(food-network-main/food-network-main/images/shapes/7.png);
    background-repeat:no-repeat;
}

#button-2nd{
    margin-top:50px;
}

.half2{
    width:34%;
}

.half2 img{
    width:50%;
}
#img2{
    margin-top: 50px;
    margin-left: 200px;
}

#text2{
    margin-top: 100px;
    margin-left:0px;
    margin-right:200px;
    margin-bottom:30px;
}

.bold-text-center{
    text-align: center;
    margin-top:60px;
    color: rgb(88, 87, 87);
}

.normal-text-center{
    text-align: center;
    color: rgb(121, 120, 120);
    margin-top:30px;
    margin-left:400px;
    margin-right:400px;
    margin-bottom:0px;
}
.all-recipie-box{
    display: flex;
    padding-left:100px;
    padding-right:100px;
    padding-top:10px;
}

.all-recipie-box img{
    width:100%
}

.all-recipie-box div{
    width:97%
}

.box-border{
    box-shadow:0px 0px 10px 0.1px rgb(153, 153, 153);
    border-radius:25px;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
    margin: 30px;
}
